*{
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    
    
}

.color_row_top{
    width: 100vw;
    height: 10px;
    background-image: url('../img/color_row.png');
}
.color_row_bottom{
    width: 100vw;
    height: 10px;
    background-image: url('../img/color_row.png');
    position: absolute;
    bottom:0px;
}

.content_block{
    display: flex;
    margin-top: 30px;
    padding-left: 8.8vw;
    padding-right: 3.3vw;
    padding-top: 10px;
    justify-content: space-between;
}
.title_block h1{
    font-family: 'Segoe UI Light';
    font-weight: 300;
    font-size: 3.3em;
    margin: 0px;
}
.cart{
    width: 280px;
    height: 60px;
    background-color: #d9644a;
    color:#fff;
    margin-top: 10px;
    cursor: pointer;
}
.cart_block{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    
}
.cart_price{
    font-family: 'Segoe UI Regular';
    text-align: right;
    width: 100%;
    padding-right: 30px;
    font-size: 1.7em;
    color:#fff;
}
.cart:hover{
    background-color: #d9644a8c;
}


.category_block{
    margin-top: 39px;
    margin-left: 8.8vw;
    width: calc(100% - 8.8vw);
    height: 605px;
    overflow: auto;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}
.category_block::-webkit-scrollbar{ 
    width: 0; 
    height: 45px;
    
}
.category_item{
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

.catergory_title{
    position: absolute;
    bottom: 0px;
    height: 40px;
    background: rgb(255 255 255 / 80%);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.category_image{
    width: 100%;
    height: 100%;
}
.category_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.catergory_title span{
    color:#010101;
    font-size: 1.3em;
    font-family: 'Segoe UI Regular';
}
.category_item:hover{
   opacity: 0.8;
}

.category_item:nth-child(1){
    height: 370px;
    width: 360px;
}
.category_item:nth-child(2){
    height: 180px;
    width: 360px;
    margin-bottom: 0px;
}
.category_item:nth-child(3){
    height: 180px;
    width: 230px;
   
}
.category_item:nth-child(4){
    height: 180px;
    width: 230px;
    
}
.category_item:nth-child(5){
    height: 180px;
    width: 230px;
    margin-bottom: 0px;
}
.category_item:nth-child(6){
    height: 180px;
    width: 230px;
    
}
.category_item:nth-child(7){
    height: 370px;
    width: 230px;
    margin-bottom: 0px;
}
.category_item:nth-child(8){
    height: 180px;
    width: 470px;
   
}
.category_item:nth-child(9){
    height: 180px;
    width: 230px;
   
}
.category_item:nth-child(10){
    height: 180px;
    width: 230px;
    margin-bottom: 0px;
}
.category_item:nth-child(11){
    height: 180px;
    width: 230px;
    top:190px;
    right: 240px;   
}
.category_item:nth-child(12){
    height: 180px;
    width: 230px;
    top:190px;
    right: 240px;   
}
.category_item:nth-child(13){
    height: 370px;
    width: 360px;
    right: 240px;  
}
.category_item:nth-child(14){
    height: 180px;
    width: 360px;
    margin-bottom: 0px;
    right: 240px;  
}
.category_item:nth-child(15){
    height: 180px;
    width: 230px;
    right: 240px;  
}
.category_item:nth-child(16){
    height: 180px;
    width: 230px;
    right: 240px;  
}
.category_item:nth-child(17){
    height: 180px;
    width: 230px;
    margin-bottom: 0px;
    right: 240px;  
}
.category_item:nth-child(18){
    height: 180px;
    width: 230px;
    right: 240px;  
}
.category_item:nth-child(19){
    height: 370px;
    width: 230px;
    margin-bottom: 0px;
    right: 240px;  
}
.category_item:nth-child(20){
    height: 180px;
    width: 470px;
    right: 240px;  
}
.category_item:nth-child(21){
    height: 180px;
    width: 230px;
    right: 240px;  
}
.category_item:nth-child(22){
    height: 180px;
    width: 230px;
    margin-bottom: 0px;
    right: 240px;  
}
.category_item:nth-child(23){
    height: 180px;
    width: 230px;
    top:190px;
    right: 480px;   
}
.category_item:nth-child(24){
    height: 180px;
    width: 230px;
    top:190px;
    right: 480px;   
}
#goBack{
    cursor: pointer;
}

#productPage .left{
    display: flex;
}
#productPage .title_block h1{
    font-size: 3.5em;
    margin-left: 35px;
}
#productPage .content_block{
    padding-left: 3vw;
}
#productPage #goBack{
    padding-top: 18px;
}
#productPage .product_block{
    margin-top: 39px;
    margin-left: 8.8vw;
    width: calc(100% - 8.8vw);
    height: 505px;
    overflow: auto;
    display: flex;
}
#productPage .product_item {
    width: 360px;
    height: 460px;
    margin-right: 10px;
    position: relative;
}
#productPage .product_image {
    width: 360px;
    height: 370px;
}
#productPage .product_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#productPage .product_title{
    position: absolute;
    bottom: 90px;
    height: 40px;
    background: rgb(255 255 255 / 80%);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
    padding-right: 20px;
}
#productPage .product_title span {
    color: #010101;
    font-size: 1.3em;
    font-family: 'Segoe UI Regular';
}
#productPage .product_title .price {
    color: #d9644a;
    font-size: 2em;
    font-family: 'Segoe UI Regular';
}
#productPage .product_navigation{
    display: flex;
    height: 80px;
    margin-top: 10px;
    width: 100%;
    background: #4ea686;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
}
#productPage .navbtn{
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    position: relative;
    cursor: pointer;
}

#productPage .minus::after{
    content: '-';
    top: -11px;
    left: 10px;
    font-size: 2.3em;
    font-family: 'Segoe UI Regular';
    color: #fff;
    position: absolute;
}
#productPage .plus::after{
    content: '+';
    top: -11px;
    left: 5.5px;
    font-size: 2.3em;
    font-family: 'Segoe UI Regular';
    color: #fff;
    position: absolute;
}
#productPage .quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#productPage .quantity .amount{
    font-family: 'Segoe UI Light';
    font-weight: 300;
    font-size: 0.92em;
    color: rgb(255 255 255 / 80%);
}
#productPage .quantity .number{
    font-family: 'Segoe UI Regular';
    font-size: 2em;
    color: #fff;
    height: 54px;
}
#productPage .product_block::-webkit-scrollbar{ 
    width: 0; 
    height: 45px;
    
}
#productPage .product_image.productInCart{
    border: 2px solid #d9644a;
}
#cart .cart_items{
    height: 450px;
    overflow: auto;
}
#cart .left{
    display: flex;
}
#cart .title_block h1{
    font-size: 3em;
    margin-left: 35px;
}
#cart .content_block{
    padding-left: 10vw;
}
#cart #goBack{
    padding-top: 18px;
}
#cart .categories_in_cart{
    border: 2px solid #bf613f;
    margin: 20px;
}
#cart .cart_blocks{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 1vh;
    border: 4px solid #4ea686;
    width: 800px;
    margin: auto
}
#cart .cart_category_name{
    font-size: 1.2em;
    font-family: 'Segoe UI Regular';
    padding-left: 10px;
}
#cart .cart_category_product{
    display: flex;
    flex-direction: row;
    height: 120px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #d9644a;
    align-items: center;
    justify-content: space-between;
}
#cart .cart_product_image{
    height: 100%;
    width: 110px;
}
#cart .cart_product_image img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
#cart .product_name{
    padding-top: 25px;
}
#cart .amount{
    padding-top: 25px;
}
#cart .cart_price_of_one{
    padding-top: 25px;
}
#cart .cart_product_price{
    padding-top: 25px;
}
#cart .cart_category_product div{
    font-size: 1em;
    font-family: 'Segoe UI Regular';
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
#cart .cart_nav_buttons{
    flex-direction: row!important;
}
#cart .cart_nav_buttons div{
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}
#cart .cart_nav_buttons .minus, #cart .cart_nav_buttons .plus{
    border:2px solid #4ea686;
    background: transparent;
}
#cart .cart_nav_buttons .delete{
    border:2px solid red;
    background: transparent;
}

#cart .cart_nav_buttons .delete::after{
    content: 'x';
    top: -3px;
    left: 11.5px;
    font-size: 1.7em;
    font-family: 'Segoe UI Regular';
    color: red;
    position: absolute;
}
#cart .cart_nav_buttons .minus::after{
    content: '-';
    top: -11px;
    left: 10px;
    font-size: 2.3em;
    font-family: 'Segoe UI Regular';
    color: #4ea686;
    position: absolute;
}
#cart .cart_nav_buttons .plus::after{
    content: '+';
    top: -11px;
    left: 5.5px;
    font-size: 2.3em;
    font-family: 'Segoe UI Regular';
    color: #4ea686;
    position: absolute;
}
#cart .cart_category_price{
    font-size: 1.2em;
    font-family: 'Segoe UI Regular';
    padding-left: 10px;
    padding-bottom: 10px;
}
#cart .cart_info{
    margin: 20px;
    border: 2px solid #bf613f;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#cart .cart_fullprice{
    font-size: 1.5em;
    font-family: 'Segoe UI Regular';
    margin-bottom: 10px;
}
#cart .cart_info_nav{
    display: flex;
    flex-direction: row;
}
#cart .navbtn{
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Segoe UI Regular';
    margin-left: 10px;
    cursor: pointer;
}
#cart .navbtn.clear{
    border:3px solid red;
    color: red;
}
#cart .navbtn.buy{
    border:3px solid#4ea686;;
    color: #4ea686;
    width: 565px;
}
#cart .cart_blocks h1{
    font-size: 3em;
    font-family: 'Segoe UI Regular';
    text-align: center;
}
